
@{
    ViewData["Title"] = "Add a Quote";
}
@model AddedQuote
<div class="text-white bg-dark">
    <h3>Add quote to the database here.</h3>
    <p>Quote and Author are required fields</p>
</div>

<div class="bg-light">
    <form method="post">

        <div asp-validation-summary="All"></div>

        <input type="hidden" asp-for="QuoteId" />

        <label asp-for="Quote">Quote</label>
        <textarea rows="4" asp-for="Quote"></textarea><br />

        <label asp-for="Author">Author</label>
        <input asp-for="Author" /><br />

        <label asp-for="Date">Date</label>
        <input asp-for="Date" /><br />

        <label asp-for="Subject">Subject:</label>
        <input asp-for="Subject" /><br />

        <label asp-for="Citation">Citation</label>
        <textarea asp-for="Citation" rows="4"></textarea><br />

        <button type="submit">Submit</button>
    </form>
</div>
