
@{
}
@model AddedQuote

<h2 class="text-white bg-success">Random quote from our list</h2>
<div class="text-center bg-light">
    <h3>@Model.Quote - by @Model.Author</h3>
</div>
<br /><br /><br />
<div>
    <h4 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';">Hope you are enjoying our app!</h4>
</div>